QWidget {
  background-color: #ffffff;
}

QLineEdit, QPushButton {
  background: #FF66C4;
  border-radius: 3px;
  padding: .5em 1em;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 800;
}
QLabel, QIconWidget {
  text-align: center;
  padding: 0.5em;
  color: #111111;
}
QPushButton {
  background-color: #0FA5FF;
}
